name: Compile Latex
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          root_file: "main.tex"
          args: "-pdf -file-line-error -interaction=nonstopmode"

      - name: Upload Docs to Artifact
        uses: actions/upload-artifact@v2
        with:
          name: docs
          path: "main.pdf"
